@media (min-width: 769px) {
  .advanced__heading {
    order: 2;
  }
}
@media (min-width: 1100px) {
  .cta__content {
    width: 65%;
  }
}
@media (max-width: 992px) {
  .logistic__content__btn {
    gap: 0.5rem;
  }
  .logistic__content__btn span {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .needs_content__card__list li,
  .cloud__content__card__text__listItems {
    width: 100%;
  }
  .banner {
    padding: 2rem 0;
  }
  .banner::after {
    width: 0;
  }
  .banner__main {
    justify-content: center;
  }
  header.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .header__brand {
    width: 75%;
    margin: 0.5rem;
  }
  .header__brand img {
    width: 100%;
    object-fit: cover;
  }
  .banner__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .banner__text__title {
    font-size: 2.5rem;
  }
  .banner__text__subtitle {
    font-size: 1rem;
  }
  .banner__img {
    display: none;
  }
  .clients__imgs__img {
    width: 33%;
    padding: 2rem 0.5rem;
  }
  .clients__imgs__img img,
  .demand__cards__card {
    width: 100%;
  }
  .needs__content {
    grid-template-columns: 1fr;
  }
  .needs__content__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .advanced {
    flex-direction: column;
    align-items: center;
  }
  .advanced__heading,
  .advanced__slider {
    width: 100%;
    padding: 0 1.5rem;
  }
  .advanced__slider__slide {
    height: 15rem;
  }
  .advanced-swiper-pagination {
    display: block;
  }
  .cta__content {
    text-align: center;
  }
  .cta__text {
    flex-direction: column;
    align-items: center;
  }
  .partner > * {
    width: 100%;
  }
  .partner__img {
    order: 2;
  }
  .awards__imgs__img {
    width: 45%;
  }
  .benefits__img--large {
    display: none;
  }
  .benefits__img--mobile {
    display: block;
  }
  .demand__cards {
    flex-wrap: wrap;
  }
  .logistic__content {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .logistic__content__btns {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    background-color: #e7e7e7;
    padding: 0.3rem;
  }
  .logistic__content__btn {
    padding: 0.5rem;
  }
  .logistic__content__btn img {
    width: 100%;
    object-fit: cover;
  }
  .logistic__content__btn span {
    display: none;
  }
  .logistic__content__cards {
    width: 100%;
  }
  .logistic__content__card__title h3 {
    font-size: 1.5rem;
  }
  .cloud__content__card__text {
    width: 100%;
  }
  .cloud__content__card__img {
    display: none;
  }
}

@media (max-width: 425px) {
  .header__brand {
    width: 100%;
  }
  .logistic__content__btn {
    padding: 0.25rem;
  }
  .logistic__content__card__img {
    display: none;
  }
  .logistic__content__card__list__item,
  .cloud__content__card__text__btn {
    width: 100%;
  }
}
